<!DOCTYPE html>
<html>
<head>
    <title>My Music 360</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles/get_started.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-links" aria-expanded="false">
                    <span class="sr-only"> Toggle navigation</span>
                    <span class=icon-bar></span>
                    <span class=icon-bar></span>
                    <span class=icon-bar></span>
                </button>
                <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> MM360</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-nav-links">
                <ul class="nav navbar-nav">
                    <li><a href="Home.html">Home</a></li>
                    <!-- <li><a href="#">Contact</a></li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="Registration.html">Sign Up</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
        <H1><i class="fas fa-headphones-alt"></i> My Music 360</H1>
        <p>We know your Jam!</p>
        </div>
        <div class="row">
            <div class= "col-lg-6">
            <iframe src="https://open.spotify.com/embed/playlist/1cGxHzWheMsOlf2wtUTDK0?" width="500" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" autoplay="true"></iframe>
            </div>
            <div class= "col-lg-6">
                <h3>Like what's playing?</h3>
                <div class = "row">
                    <div class="col-md-3">
                        <button class= "btn btn-default btn-lg" onclick="location.href='get_started.html'"><i class="fas fa-thumbs-up"></i>  Yes</button>
                    </div>

                    <div class="col-md-3">
                        <button class= "btn btn-default btn-lg" onclick="location.href='get_started.html'"><i class="fas fa-thumbs-down"></i>  No</button>
                    </div>
            </div>
        </div>

    </div>

    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script>
        setTimeout(function () {
            $('button[title="Play"]').click();
            console.log("jjjjjjjjjjjjjjjjj")
        }, 8000);





    </script>
</body>
</html>
