<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="homepage.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Home.html"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> MM 360</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="Home.html">Home</a></li>
                    <!-- <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="Registration.html">Sign Up <i class="fas fa-user-plus"></i></a></li>
                    <li><a href="login.html">Login <i class="fas fa-user"></i></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container col-md-12 registration">
        <H1>Register</H1>
        <form>
            <label for="fname">First Name:</label>
            <input id="fname" type="text" name="first name" required>
            <label for="lname">Last Name:</label>
            <input id="lname" type="text" name="last name" placeholder="Surname" required>
            <p>
            <label for="male">Male</label>
            <input id="male" type="radio" name="gender" value="Male">
            <label for ="female">Female</label>
            <input id="female" type="radio" name="gender" value="Female">
            <label for ="other">Other</label>
            <input id="other" type="radio" name="gender" value="Other">
            </p>
            <p>
                <label for="email">Email:</label>
                <input id="email" type="email" name="email">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" minlength="5" maxlength="10" required>
            </p>
            <p>
                <label for="dob">Birthday:</label>
                <select id="dob">
                    <option>Month</option>
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                </select>
                <select>
                    <option>Day</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <select>
                    <option>Year</option>
                    <option>1990</option>
                    <option>1988</option>
                    <option>1987</option>
                </select>
            </p>
            <p>
                <label for="terms">I agree to the terms and conditions</label>
                <input type="checkbox" name="terms">
            </p>
            <input type="submit" name="Submit">
        </form>
    </div>
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
